@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Tinos:400,400i&amp;subset=cyrillic');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-family: "Playfair Display";
    font-size: 30px;
    padding: 10px 0px;
    margin: 0px;
}

#gameCanvas {
    border: 2px solid #d0d0d0;
}



.field {
    
    width: 1024px;
    height: 640px;
}

 .tile {
    
    width: 50px;
    height: 50px;
    
    background-image: url(images/tile-.png);
   
}

.health {
    background-color: #ff0000;
  
    height: 3px;
}

.healthHERO {
    background-color: #00ff00;
    
    height: 3px;
}